.one{
 	height: 40px;
 	width: 100%;
 	background-color:black;
 	text-align: center;
 	font-size: 17px;
 	font-style:italic;
 	color: white;

}
	nav{
	height: 44px;
	width: 100%;
	background-color:grey;
	float: left;
	margin-bottom: 10px;
}
nav ul li{
	list-style-type: none;
	float: right;
	font-size:10px;
	/*padding-bottom: -40px;*/
	margin-top: -10px;
	margin-left: 10px;

}
li a{
	text-decoration: none;
	color: white;
	padding: 5px;
	float: left;

	
}
nav ul img{
	margin-top: -16px;
	height: 44px;
	margin-left: -40px;
	box-shadow: 0px 0px 20px 5px ;
	/*transform: scale(1.1);*/


	
}
nav ul img:hover{
	box-shadow: 0px 0px 20px 5px blue;
	transform: scale(1.1);


}
.wz-slider{
	width:100%;
	height: 450px;
	/*margin: 50px auto;*/
	/*border: 5px solid black;*/
	box-shadow: 0px 0px 20px 5px grey;
	overflow: hidden;
	/*margin-top: 10px;
	border-top: 200px;*/
	margin-top: 50px;
}
.wz-slider figure img{
	width: 20%;
	height: 450px;
	float: left;
	margin-top: 10px;
}
.wz-slider figure{
	position: relative;
	width: 500%;
	margin: 0px;
	left: 0px;
	animation: webzone 15s infinite linear;
	margin-top: 10px;
}
@keyframes webzone{
	0%{left:0%;}
	15%{left: 0%;}
	20%{left: -100%;}
	35%{left: -100%;}
	40%{left: -200%;}
	60%{left: -200%;}
	65%{left: -300%;}
	80%{left: -300%;}
	85%{left: -400%;}
	100%{left: -400%;}
}
.world{
	font-style:italic;
	text-align: center;
}
.two{
	width: 100%;
	height:200px;
}
.three{
	width: 100%;
	height: 550px;
}



.mahi{
	width: 30%;
	height: 100px;
	margin-top: 80px;
	float: left;
	float:left 50px;

}
.mahi img:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px 5px grey;

}
/*.butt{
	background:linear-gradient(100deg,blue,red,yellow,orange,pink);
	background-size: 200%;
	color: white;
	size: 300px;*/

.butt{
	list-style-type: none;
	border:none;
	/*background:linear-gradient(100deg,blue,red,yellow,orange,pink);*/
	background-color: blue;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin-top: 10px;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.butt:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px 5px blue;
	}

.mah img:hover{
	transform: scale(1.1);
	box-shadow:0px 0px 30px 5px grey;

}
.mah{
	width: 30%;
	height: 100px;
	margin-top: 80px;
	float: left;
	margin-left: 35px;
}
.ma{
	width: 30%;
	height: 100px;
	margin-top: 80px;
	float: right;
	
}
.ma img:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px 5px grey;

}

.srilatha{
	width: 30%;
	height: 100px;
	margin-top: 200px;
	float: left;
	float:left 50px;
	

}
.srilatha img:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px 5px grey;

}

.srilath{
	width: 30%;
	height: 100px;
	margin-top: 200px;
	float: left;
	margin-left: 35px;
}
.srilath img:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 30px 5px grey;


}

.srilat{
	width: 30%;
	height: 100px;
	margin-top: 200px;
	float: left;
	margin-left: 25px;
	/*box-shadow: 0px 0px 10px 5px grey;*/
}
.srilat img:hover{
	transform: scale(1.1);
	box-shadow:0px 0px 30px 5px grey;


}
.footer{
	width:50%;
	height: 200px;
	background-color: black; 
	color: white;
	float: left;
	margin-top: -60px;

}
.footer1{
	margin-left: 120px;
	font-size: 20px;
	margin-top: 10px;

}

.footer2 a{
	margin-left: 140px;
	font-size: 10px;
	text-decoration: none;
	list-style-type: none;
	color: white;
}
.footer5{
	width:50%;
	height: 200px;
	background-color: black; 
	color: white;
	float: left;
	margin-top: -60px;

}
.footer3{
	margin-left: 30px;
	margin-top: 35px;
	
}
.footer4 a{
	font-size: 10px;
	text-decoration: none;
	list-style-type: none;
	color: white;
	margin-left: 30px;


}










.room {
	background-image: url(../images/10.jpg);
	width: 100%;
	height: 600px;
	
}
.box2{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: black;
}
.box{
	width: 200px;
	padding: 30px;
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-50%,-50%);
	background-image: url(../images/11.jpg );
	text-align: center;
	margin-top: 250px;
	margin-left: 220px;
	border-radius: 30px;

}
.box input[type="text"],.box input[type="password"], .box input[type="email"],.box input[type="number"]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px  solid #3498db;
	padding: 8px 5px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
}