nav {
background-color: green;
height: 40px;
width: 100%;
}


nav ul li {
list-style-type: none;
float: left;
margin-top: 10px;
margin-left: 20px;
}

ul li a {
	color: white;
	text-decoration: none;
}

.dropdownlist{
	display: none;
}


.dropdownlist a{
	background-color: green;
	color: white;
	display: block;
}


.dropdown:hover .dropdownlist{
	display: block;
}
